<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/layout :: head"></head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="../dictionary/values.html" th:href="@{/dictionary/values.html}" th:text="#{action.back}">back</a></li>
						</ul>
					</div>
				</div>
				</nav>

				<h2>
					<span th:if="${dictionaryValue['new']}" th:remove="tag" th:text="#{status.new}">New </span> <span th:text="#{menu.dictionary.value}">dictionary</span>
				</h2>

				<form class="form-horizontal" th:object="${dictionaryValue}" method="post" action="./dictionaryDetails.html" th:action="@{${#httpServletRequest.servletPath}}">
					<div class="form-group" th:classappend="${#fields.hasErrors('name')} ? error">
						<label class="col-sm-2 control-label" th:text="#{dictionary.value.name}">Name</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" th:field="*{name}" /> <span class="help-inline" th:errors="*{name}">[error]</span>
						</div>
					</div>

					<div class="form-group" th:classappend="${#fields.hasErrors('code')} ? error">
						<label class="col-sm-2 control-label" th:text="#{dictionary.value.code}">Code</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" th:field="*{code}" /> <span class="help-inline" th:errors="*{code}">[error]</span>
						</div>
					</div>

					<div class="form-group" th:classappend="${#fields.hasErrors('description')} ? error">
						<label class="col-sm-2 control-label" th:text="#{dictionary.value.description}">Description</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" th:field="*{description}" /> <span class="help-inline" th:errors="*{description}">[error]</span>
						</div>
					</div>

					<div class="form-group" th:classappend="${#fields.hasErrors('dictionary.id')} ? error">
						<label class="col-sm-2 control-label" th:text="#{dictionary.name}">dictionary.name</label>
						<div class="col-sm-10">
							<select class="form-control" th:field="*{dictionary.id}">
								<option class="form-control" th:each="dictionary : ${dictionaries}" th:value="${dictionary.id}" th:text="${dictionary.name}">Wireframe</option>
							</select> <span class="help-inline" th:errors="*{dictionary.id}">[error]</span>
						</div>
					</div>

					<div class="form-group" th:classappend="${#fields.hasErrors('lang')} ? error">
						<label class="col-sm-2 control-label" th:text="#{dictionary.value.lang}">Lang</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" th:field="*{lang}" /> <span class="help-inline" th:errors="*{lang}">[error]</span>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button class="btn btn-default" th:if="${dictionaryValue['new']}" type="submit" th:text="#{action.add}">add</button>
							<button class="btn btn-default" th:unless="${dictionaryValue['new']}" type="submit" th:text="#{action.update}">update</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
