<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/layout :: head"></head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="../dictionary/value/new.html" th:href="@{/dictionary/value/new.html}" th:text="#{action.add}"></a></li>
						</ul>
					</div>
				</div>
				</nav>

				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th th:text="#{dictionary.value.name}"></th>
								<th th:text="#{dictionary.value.code}"></th>
								<th th:text="#{dictionary.value.description}"></th>
								<th th:text="#{dictionary.name}"></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="dictionaryValue : ${dictionaryValues}">
								<td>
									<div class="checkbox">
										<label><input type="checkbox" th:value="${dictionaryValue.id}" /></label>
									</div>
								</td>
								<td><a class="" href="../dictionary/edit.html" th:href="@{|/dictionary/value/${dictionaryValue.id}.html|}" th:text="${dictionaryValue.name}"></a></td>
								<td th:text="${dictionaryValue.code}"></td>
								<td th:text="${dictionaryValue.description}"></td>
								<td th:text="${dictionaryValue.dictionary.name}"></td>
								<td><a class="btn btn-warning btn-xs" href="../dictionary/edit.html" th:href="@{|/dictionary/value/edit/${dictionaryValue.id}.html|}" th:text="#{action.edit}">edit</a> <a
									class="btn btn-danger btn-xs" href="../dictionary/delete.html" th:href="@{|/dictionary/value/edit/${dictionaryValue.id}.html|}" th:text="#{action.delete}">delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>