<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="Alex Tsurkin" />
<title>1 Yummy Noodle Bar</title>
<link href="resources/themes/bootstrap/css/theme.css" th:href="${#themes.code('styleSheet')}" rel="stylesheet" />
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/tutorial/resources/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:fragment="header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Project name</a>
			</div>
			<div class="navbar-collapse collapse">
				<div sec:authorize="isAuthenticated()" class="navbar-text navbar-right">
					<a href="../j_spring_security_logout" th:href="@{/j_spring_security_logout}" th:text="#{security.logout}" class="navbar-link">logout</a>
				</div>
				<div sec:authorize="isAnonymous()" class="navbar-text navbar-right">
					<a href="../security/signin.html" th:href="@{/security/signin.html}" th:text="#{security.signin}" class="navbar-link">signin</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="../dictionaries.html" th:href="@{/dictionaries.html}" th:text="#{menu.dictionaries}">dictionaries</a></li>
					<li><a href="../tutorials.html" th:href="@{/tutorials.html}" th:text="#{menu.tutorials}">tutorials</a></li>
					<li><a href="#">Settings</a></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#">Help</a></li>
				</ul>
				<form class="navbar-form navbar-right">
					<input type="text" class="form-control" placeholder="Search..." />
				</form>
			</div>
		</div>
	</div>

	<div th:fragment="left" class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li><a href="../books.html" th:href="@{/books.html}" th:text="#{menu.books}">menu.books</a></li>
		</ul>
	</div>

	<div th:fragment="footer">
		<div id="footer">
			<div class="container">
				<p class="text-muted">&copy; com.frogorf.tutorial 2014.</p>
			</div>
		</div>
	</div>

</body>
</html>