<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/layout :: head"></head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="fragments/layout :: left"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="../tutorials.html" th:href="@{/tutorials.html}" th:text="#{action.back}">back</a></li>
							<li><a href="../tutorial/edit.html" th:href="@{|/tutorial/edit/${tutorial.id}.html|}" th:text="#{action.edit}">Edit</a></li>
							<li><a href="../tutorial/delete.html" th:href="@{|/tutorial/delete/${tutorial.id}.html|}" th:text="#{action.delete}">delete</a></li>
							<li><a href="../tutorial/new.html" th:href="@{/tutorial/new.html}" th:text="#{action.add}"></a></li>
						</ul>
					</div>
				</div>
				</nav>

				<h2 th:text="#{label_tutorial_info}"></h2>
				<table class="table table-striped" style="width: 600px;">
					<tr>
						<th th:text="#{label_tutorial_subject}">subject</th>
						<td><b th:text="${tutorial.subject}">subject</b></td>
					</tr>
					<tr>
						<th th:text="#{label_tutorial_description}">description</th>
						<td th:text="${tutorial.description}">description</td>
					</tr>
					<tr>
						<th th:text="#{label_tutorial_summary}">summary</th>
						<td th:text="${tutorial.summary}">summary</td>
					</tr>
					<tr>
						<th th:text="#{label_tutorial_category}">category</th>
						<td th:text="${tutorial.category.name}">category</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
