<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/layout :: head"></head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="fragments/layout :: left"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="../tutorial/new.html" th:href="@{/tutorial/new.html}" th:text="#{action.add}"></a></li>
						</ul>
					</div>
				</div>
				</nav>
	
				<h2 th:text="#{label_tutorial_list}"></h2>

				<div class="media" th:each="tutorial : ${tutorials}">
					<div class="pull-right">
						<a class="btn btn-warning btn-xs" href="../tutorial/edit.html" th:href="@{|tutorial/edit/${tutorial.id}.html|}" th:text="#{action.edit}">edit</a> <a class="btn btn-danger btn-xs"
							href="../tutorial/delete.html" th:href="@{|tutorial/delete/${tutorial.id}.html|}" th:text="#{action.delete}">delete</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading" th:text="${tutorial.subject}"></h4>
						<div th:text="${tutorial.summary}"></div>
						<b th:text="${tutorial.category.name}"></b>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>