<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/layout :: head"></head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<form xmlns:th="http://www.thymeleaf.org" class="form-signin" action="authentication" th:action="@{/j_spring_security_check}" method="post">
					<h2 class="form-signin-heading" th:text="#{security.signin_title}">Please sign in</h2>
					<input type="text" class="form-control" id="j_username" name="j_username" th:placeholder="#{security.signin_login}" />
					<input type="password" class="form-control" id="j_password" name="j_password" th:placeholder="#{security.signin_password}" />
					<label class="checkbox">
						<input type="checkbox" value="remember-me"  /> <span th:text="#{security.signin_remember_me}"></span> <br />
					</label>
					<button class="btn btn-large btn-primary" type="submit" th:text="#{security.signin}">Sign in</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>


<!-- 
			
				<div sec:authorize="isAuthenticated()">
					<div sec:authorize="hasRole('ROLE_ADMIN')">This content is only shown to administrators.</div>
					<div sec:authorize="hasRole('ROLE_USER')">This content is only shown to users.</div>
					Logged user: <span sec:authentication="name">Bob</span> Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
				</div>	
				<div sec:authorize="isAnonymous()">
					isAnonymous()
				</div>
				<div sec:authorize="isAuthenticated()">
					Logged user: <span sec:authentication="name">Bob</span> Roles: <span sec:authentication="principal.authorities"></span>
				</div>

				<form xmlns:th="http://www.thymeleaf.org" class="form-horizontal" action="authentication" th:action="@{/j_spring_security_check}" method="post">
					<div class="form-group">
						<label class="col-sm-2 control-label">Username</label>
						<div class="col-sm-10">
							<input type="text" id="j_username" name="j_username" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Password</label>
						<div class="col-sm-10">
							<input type="password" id="j_password" name="j_password" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button class="btn btn-default" type="submit">Log in</button>
						</div>
					</div>
				</form> -->